body {
    padding-top: 5rem;
  padding-bottom: 3rem;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.card-deck .card {
    margin: auto;
}

.article {
    max-height: 450px;
}

.article img {
    max-height: 250px;
}

.article .card-body {
    overflow: hidden;
}

main .featurette {
    margin-right: 0px;
    margin-left: 0px;
}

.faq button {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    text-align: left;
}

.featurette-image {
    width: 500px;
height: 400px;
border-radius: 5px;
}
